/*@import url(blueprint/screen.css);
@import url(blueprint/print.css);
@import url(blueprint/ie.css);*/

.container {width:950px;margin:0 auto;}

.span-24 {width:950px;margin-right:0;}

.header{
	background-color :red;
	font: normal 40px Arial, Helvetica, Sans-serif;
	color : white;
	margin-top : 10px;
	height : 50px;

}

#main-content-body{
	margin : 5px 5px  5px 5px;
}